:root {
  --primary-color: #c54b8c;
  --secondary-color: #fbaed2;
  --box-shadow: 0 5px 10px #317873;
  
}

body {
  margin-top: 100px;
}

h1,
h2,
h3
p {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 24px 14px;
  text-decoration: none;
  text-transform: capitalize;
  color: orangered;
  border: 1px solid orangered;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
  font-size: 20px;
  padding: 1.5em;
  display: block;
  background: orangered;
  font-weight: 400;
  color: black;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
  padding:20px 20px;
  text-align: center;
}
.mt-5 {
  margin-top: 3rem !important;
  padding: 10px 10px;
}
.row {
  flex-wrap: wrap;
  display: flex;
}

.mb-3 {
padding: 2px 2px;
margin-top: 50px;
}


@media (min-width: 900px){
.banner-intro {
  background: rgba (0,0,0,6);
  border: 1px solid rgba(255,255,255,4);
  padding: var(--layout-vertical-flow) 2em;
}
}

.banner {
  background-image: url('../img/headerbanner.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  
}
.banner-intro {
  margin: 0 auto;
  text-align:center;
  font-weight: 300;
}

.banner-profile-pic {
  background: url('../img/karenberglund.jpg') 50% 50% no-repeat;
  background-size: 120px auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: -60px auto var(--content-vertical-flow); 
}

.text-center {
  font-size: 20px;
  line-height: 20px;
}
.banner-title {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
}
.banner-blurb {
  font-size: 28px;
  line-height: 60px;
  text-align: center;
}
