html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}
.html, html {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--default-font-colour);
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    text-rendering: optimizeLegibility;
}
h1,
h2,
h3 {
    font-weight: 400;
    line-height: 1.5em;
}
h4 {
    font-weight: 600;
}
strong {
    font-weight: 600;
}

a,
a:visited {
    color: var(--dark-red);
    text-decoration: none;
}
a:hover {
    text-decoration: underline
}
.main-header {
    background:var(--pseudo-black);
    padding:1em
  }
.site-name {
    display:none;
    vertical-align:middle;
    text-indent:-999em;
    overflow:hidden;
    background-position:0 18px;
    height:22px;
    width:103px;
    margin:5px 0 0 10px;
    background:url('/wp-content/themes/elz_2023/images/elezea-white-new.svg') 0 0 no-repeat
  }

@media (min-width:45em) {
    .page-title {
        font-size: 40px;
    }
    .article {
        font-size: 20px;
        line-height: 36px;
    }
}


.banner {
    background-color:var(--pseudo-black);
    border-top:1px solid var(--darkest-grey);
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:100% auto;
    color:#fff;
    padding:var(--layout-vertical-flow) 0
  }
  .banner-intro {
    max-width:720px;
    padding:0 1em;
    margin:0 auto;
    text-align:center;
    font-weight:300
  }
  .banner-profile-pic {
    border-radius:50%;
    width:120px;
    height:120px;
    background:url("../img/karen\ berglund.jpg") 50% 50% no-repeat;
    background-size:120px auto;
    margin:-60px auto var(--content-vertical-flow)
  }
  .banner-title {
    margin:0;
    font-size:20px;
    line-height:30px;
    font-weight:700
  }
  .banner-profile-pic+.banner-title {
    margin-top:1em
  }
  .banner-blurb {
    font-size:20px;
    line-height:30px;
    max-width:500px;
    margin:0 auto
  }
  .banner-intro .btn {
    font-size:20px;
    margin-top:var(--content-vertical-flow)
  }
  .ticker-tape {
    padding:1.5em;
    text-align:center;
    display:block;
    background:var(--orange);
    margin:0;
    font-size:18px;
    font-weight:400;
    color:var(--pseudo-black)
  }
  .ticker-tape a,
  .ticker-tape a:hover {
    color:var(--pseudo-black)
  }
  .ticker-tape a {
    text-decoration:underline
  }
  .ticker-tape a:hover {
    text-decoration:none
  }
  .page-home .banner {
    padding:90px 0 var(--layout-vertical-flow)
  }
  @media (min-width:315px) {
    .logo {
      width:175px
    }
    .site-name {
      display:inline-block
    }
  }
  @media (min-width:900px) {
    .btn-navigate {
      display:none
    }
    .banner {
      border:none
    }
    .banner-intro {
      background:var(--pseudo-black);
      background:rgba(0,0,0,.6);
      border:1px solid rgba(255,255,255,.4);
      padding:var(--layout-vertical-flow) 2em;
      max-width:690px
    }
    .banner-intro .name {
      font-weight:400
    }
    .banner-title {
      font-size:30px;
      line-height:50px
    }
    .banner-blurb {
      font-size:27px;
      line-height:47px;
      max-width:620px
    }
    .page-home .banner {
      padding-bottom:4em
    }
    .page-home .banner-intro {
      padding-top:0
    }
  }
  @media (min-width:75em) {
    .banner-intro {
      max-width:800px
    }
  }

footer {
    color: white;
    background-image: linear-gradient(
        rgba(39, 32, 68, 0.7), 
        rgba(39, 32, 68, 0.7)),
    url("../img/marikinapics/biggestshoes.png");

    background-repeat: no-repeat ;
    background-size: cover;

}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
}

footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.8;
}

@media (max-width: 44.9em) {
    pre,
    p pre,
    p p pre {
        max-width:calc(100vw - 32px) !important;
        margin-left:auto !important;
        margin-right:auto !important;
        box-sizing:border-box !important
      }
      .canvas-frame,
      .articles,
      .article-single,
      .article-content {
        max-width:100vw !important;
        overflow-x:hidden !important;
        box-sizing:border-box !important
      }
    }
@media (min-width:60em) {
    body {
        font-size:18px
    }
    pre {
        font-size:16px
    }
      }