

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 96px;
    color: rgba(15, 1, 12, 0.947);
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

footer {
    color: white;
    background-image: linear-gradient(
        rgba(39, 32, 68, 0.7), 
        rgba(39, 32, 68, 0.7)),
    url("../img/marikinapics/biggestshoes.png");

    background-repeat: no-repeat ;
    background-size: cover;

}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
}

footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.8;
}